{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary or secondary %}
  <div>
    {% if primary %}
      <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
      <ul class="tw-flex tw-space-x-4 tw-justify-end">{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
      <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
      <ul>{{ secondary }}</ul>
    {% endif %}
  </div>
{% endif %}
