/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

input {
  @apply border border-gray-500
}

@screen md-max {
  .hamburger, .close {
    border: none;
    cursor: pointer;
    /* position absolute position the icons relative to the body because they have no position relative parents*/
    position: fixed;
    top: 20px;
    z-index: 999;
    right: 20px;
    width: 36px;
    height: 36px;
  }

  .navbar:target {
    /* show navbar */
    transform: translateX(0);
  }

  .navbar {
    position: fixed;
    will-change: transform;
    /* a higher z-index put navbar above hamburger */
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* basic menu styling*/
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* animate slide up/down */
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  .close {
    background: #F2FFEF;
    padding: 3px;
  }

  .hamburger svg, .close svg {
    width: 100%;
    height: 100%;
  }
}

#main-content {
  z-index: -20;
  background-image: url('/themes/custom/dpedr_theme/assets/svg/big-blob-bg-resp.svg');
}
@screen md {
  #main-content {
    background-image: url('/themes/custom/dpedr_theme/assets/svg/big-blob-bg.svg');
  }
}

.bg-curled-path {
  background-image: url(/themes/custom/dpedr_theme/assets/svg/curled-path.svg);
  width: fit-content;
  background-repeat: no-repeat;
  background-position: top 10px right;
  padding-left: 10px;
  padding-right: 10px;
}
@screen md {
  .bg-curled-path {
    background-size: cover;
    display: block;
    margin-left: -5vw;
    background-position: center right;
  }
}
.full-width-break {
  left: 50%;
  margin-left: -40vw;
  margin-right: -50vw;
  max-width: 89vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.block,
.node {
  @apply tw-text-2xl;
  @apply mb-4;
}

h1, h2, h3, h4, h5, h6, .menu-dpedr {
  @apply tw-font-display;
}

html {
  @apply tw-font-body;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

@screen md {
  .menu-dpedr {
    line-height: 79px; }
}
.menu-dpedr {
  @apply tw-text-5xl;
}

h1 {
  @apply tw-text-8xl;
}

h2 {
  @apply tw-text-5xl;
}
h3 {
  @apply tw-text-3xl;
}
h4 {
  @apply tw-text-2xl;
}
h4 {
  @apply tw-text-xl;
}

.node__content p,
.node__content ul,
.node__content ol {
  @apply mb-4 leading-normal
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Pecita;
    src: url(/themes/custom/dpedr_theme/assets/fonts/Pecita.otf) format("opentype");
  }
  @font-face {
    font-family: Sedgwick;
    src: url(/themes/custom/dpedr_theme/assets/fonts/SedgwickAve-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Pompiere;
    src: url(/themes/custom/dpedr_theme/assets/fonts/Pompiere-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: SpaceMono;
    src: url(/themes/custom/dpedr_theme/assets/fonts/SpaceMono-Regular.ttf) format("truetype");
  }
}


/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
