{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'tw-py-16',
  'tw-min',
  'tw-relative',
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% set syleattr = '' %}

{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('style', syleattr) }}>
    <div>
    {% if not paragraph.field_parag_1_col_title.empty() %}
      <h2 class="bg-curled-path tw-my-16">{{ content.field_parag_1_col_title }}</h2>
    {% endif %}
    <div>
      {% block content %}
        <div class="tw-my-16">{{ content.field_parag_1_col_body }}</div>
      {% endblock %}
    </div>
    </div>
    {% if not paragraph.field_parag_1_col_img_bg.empty() %}
      <div class="full-width-break tw-absolute tw-top-0 tw-right-0" style="z-index: -1;">
        <img style="max-width: none;" class="md-max:tw-h-screen tw-right-0 tw-absolute" src="{{ file_url(paragraph.field_parag_1_col_img_bg.entity.field_media_image.entity.uri.value) }}">
      </div>
    {% endif %}
  </div>
{% endblock paragraph %}
